@model Search
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div>
        <form asp-action="SearchResults">
            <p>
            Enter Search Item: <input type ="text" name="search">
            <input type="submit" value="Submit" />
            </p>
        </form>
        <!--<p>Model.searchItem</p> -->
    </div>

</div>

